.land .paper .front{
	background: url(../images/paper.png) no-repeat 0 0;
	background-size: 100% auto;
}
.land .paper .back{
	background: url(../images/editpaper.png) no-repeat 0 0;
	background-size: 100% auto;
}
#paper_wrapper{
	top:45px;
	left:450px;
}
.land .paper .front,.land .paper .back{
	width:450px;
	height:630px;
}

.land #wrapper{
	display:block;
}
.land #nav_post {
	display:none;
}
.land #postcards{
	background: url(../images/postcards.png) no-repeat 250px 50px;
	width:1024px;
	height:768px;
	z-index: 0;
}
.land #list_frame{
	width:320px;
	height:410px;
}

.land #button_block ul{
	padding: 10px 0 0 30px;
	margin:0;
}
.land #button_block{
	background: url("../images/napkins.png") no-repeat 0 0;
	width:319px;
	height:313px;
	padding-top:20px;
	
}
.land #wrapper {
	display:block;
	background-color:#fff;
}
.land #list_wrapper{
	display:block;
	float:left;
	width:100%;
	background-color:#fff;
	padding:0;
	margin:0;
}

