.land .paper .front{
	background: url("../images/paper.png") no-repeat 0 0;
	background-size: 100% auto;
}
.land .paper .back{
	background: url("../images/editpaper.png") no-repeat 0 0;
	background-size: 100% auto;
}
.land #paper_wrapper{
	top:45px;
	left:675px;
}
.land .paper .front,.land .paper .back{
	width:450px;
	height:630px;
	left: -225px;
}
.land #button_block{
	left:25px;
}
.land #wrapper,.land #button_block{
	display:block !important;
}
.land #nav_post {
	display:none;
}
.land #postcards{
	background: url("../images/postcards.png") no-repeat 250px 50px;
	width:1024px;
	height:768px;
	z-index: 2;
}
.land #list_frame{
	width:320px;
	height:410px;
}

.land #wrapper {
	display:block;
	background-color:#e8e4e0;
	-webkit-box-shadow:#000000 4px 4px 24px;
}
.land #list_wrapper{
	display:block;
	float:left;
	width:100%;
	background-color:#e8e4e0;
	padding:0;
	margin:0;
}

/* drink info text*/
.land #quote{
	margin-top:80px;
	margin-left:55px;
	width:270px;
	font-size:12px;
	position:absolute;
	top:465px;
	left:55px;
}
.land .createbutton{
	background: url("../images/create_button.png") no-repeat 0 0;
	width:63px;
	height:35px;
	float:left;
	background-size: 100% auto;
	
}
.land .frontbutton{
	background: url("../images/edit_button.png") no-repeat 0 0;
	width:63px;
	height:35px;
	float:left;
	background-size: 100% auto;
	margin-right:10px;
}
.land .cancelbutton,.land .cancelIng{
	background: url("../images/cancel_button.png") no-repeat 0 0;
	width:63px;
	height:35px;
	float:right;
	margin-right:10px;
	background-size: 100% auto;
}

.land .backbutton,.land .saveIng{
	background: url("../images/save_button.png") no-repeat 0 0;
	width:63px;
	height:35px;
	float:right;
	background-size: 100% auto;
}
.land .saveIng{
	position:absolute;
	top:270px;
	left:325px;
}
.land .cancelIng{
	position:absolute;
	top:270px;
	left:250px;
}
.land .list_email{
	background:url(../images/email.png) no-repeat 0 0px;
	width:60px;
	height:36px;
	float:right;
	background-size: 100% auto;
}

.land .page_content_wrapper{
	padding:50px 25px 40px 50px;
	
}
.land .text-float-right{
	height:176px;
	margin:-30px 0 0 15px;
	font-size:14px;
	float:left;
	margin-bottom:15px;
	
}
.land #drink-photo,.land #edit-drink-photo{
	background: url("../images/photo.png") no-repeat 0 0;
	width:176px;
	height:176px;
	background-size: 100% auto;
	margin:-30px 0 0 0;
	float:left;
}

.land .drink-ings,.land .drink-desc{
	font-size:13px !important;
}
.land .drink-title{
	font-size:20px;
	width:183px;
	word-wrap: break-word;
}
.land .drink-desc{
	height:225px;
	width:380px;
	top:225px;
	left:20;
}
.land .paper-button-block{
	position:absolute;
	top:475px;
	left:40;
	width:370px;
}

/** EDIT TEXT **/
.land .edit-ing-wrapper{
	height:110px !important;
	width:183px !important;
}
.land .ing-wrapper {
	height: 140px;
	width:183px !important;

}
.land .edit-drink-title{
	font-size:16px;
	width:165px;
}
.land #edit-drink-photo{
	margin-left:0px;
	margin-bottom:25px;
}

.land .edit-paper-button-block{
	top:550px;	
	left:28px;
}
.land .edit-drink-desc{
	width:368px;
	height:300px;
}
.land .edit-page_content_wrapper{
	padding:50px 40px 50px 25px; !important;
}
.land .submit_rate{
	top:162px;
	padding:5px 10px 0px 10px;
}
.land .star,.land .star_delete{
	background-size: 80% auto;
	margin-left:0px;
	width:30px;
	height:27px;
}
.land .ratings{
	top:195px;
}

/****** ING PICKER ******/
.land #ing-inner-wrapper{
	top:40px;
	left:452px;
	width:450px;
	height:630px;
}
.land #ing-inner-wrapper-select{
	width:356px;
	height:28px;
	top:229px;
	left:32px;
	position:absolute;
}

.land .ing-list-a{
	width:84px;
	height:170px;
	background:url("../images/scroller-bg.png") repeat-x 0 0;

}
.land .ing-list-b{
	width:84px;
	height:170px;
	background:url("../images/scroller-bg.png") repeat-x 0 0;

}
.land .ing-list-c{
	width:170px;
	height:170px;
	background:#fff;
	background:url("../images/scroller-bg.png") repeat-x 0 0;
}
.land .scroller-shadow-a,.land .scroller-shadow-b,.land .scroller-shadow-c{
	position:absolute;
	background:url("../images/list-shadow.png") no-repeat top right;
	padding-right:20px;
	overflow:auto;
}
.land .scroller-shadow-a{
	width:84px;
	height:170px;
	top:30px;
	left:35px;
}
.land .scroller-shadow-b{
	width:84px;
	height:170px;
	top:30px;
	left:127px;
}
.land .scroller-shadow-c{
	width:170px;
	height:170px;
	top:30px;
	left:218px;
}
.land .flower{
	background:url("../images/flower.png") no-repeat 0 0;
	width:223px;
	height:212px;
	position:absolute;
	top:350px;
	left:50px;
	background-size: 100% auto;
}
