.port #paper{
	background: url(../images/paper.png) no-repeat 0 0;
}

.port #paper{
	width:600px;
	height:830px;
	position: absolute;
	top:100px;
	left:120px;
}
.port #button_block{
	display:none;
}

.port #postcards{
	background: none;
}

.port #nav_post{
	background:url(../images/post.png) no-repeat 0 0;
	width:120px;
	height:1024px;
	position: absolute;
	top:0;
	left:10px;
	
}
.port #list_wrapper{
	display:block;
	width:100%;
	background-color:#fff;
	padding:0;
	margin:0;
}

.port #wrapper {
    position:relative;
    z-index:1;
    width:320px;
    height:415px;
    overflow:auto;
    display:block;
    top:160px;
    left:200px;
    border:6px solid #4f6900;
    background-color: #fff;
    -webkit-box-shadow:#999 4px 4px 24px;
}
.port .ui-cornor-all{-webkit-border-radius:6px;}