<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bartender"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/pbartender">
        <activity android:name=".view.HomeScreenView"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name=".view.DrinkListView"></activity>
<activity android:name=".view.CategoryListView"></activity>
<activity android:name=".view.DetailsView"></activity>

<activity android:name=".view.FavoriteListView"></activity>
<activity android:name=".view.CreateUpdateView"></activity>


<activity android:name=".view.IngredientsListView"></activity>
<activity android:name=".view.IngredientsHomeView"></activity>
<activity android:name=".view.LiquorListView"></activity>
<activity android:name=".view.MixersListView"></activity>
<activity android:name=".view.GarnishListView"></activity>
</application>
    <uses-sdk android:minSdkVersion="3" />

<uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest> 