<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.drinkmixer" android:versionCode="19" android:versionName="1.2.2">
    <application android:label="@string/app_name" 
    android:icon="@drawable/pbartender" 
    android:debuggable="false">
        <activity android:label="@string/app_name" android:name=".view.HomeScreenView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name=".view.DrinkListView"></activity>
<activity android:name=".view.CategoryListView"></activity>
<activity android:name=".view.DetailsView"></activity>

<activity android:name=".view.FavoriteListView"></activity>
<activity android:name=".view.CreateUpdateView"></activity>


<activity android:name=".view.KnowledgeListActivity"></activity>
<activity android:name=".view.BartenderKnowledgeActivity"></activity>
<activity android:name=".view.KnowledgeDetailActivity"></activity>
<activity android:name=".view.IngredientsListView"></activity>
<activity android:name=".view.IngredientsHomeView"></activity>
<activity android:name=".view.LiquorListView"></activity>
<activity android:name=".view.MixersListView"></activity>
<activity android:name=".view.GarnishListView"></activity>
<activity android:name=".view.AmountPicker"></activity>
<activity android:name=".view.CategoryAndGlassPicker"></activity>
</application>
    <uses-sdk android:minSdkVersion="3" />



<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 