<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.juggler.view" android:versionName="1.0.2" android:versionCode="4">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".HomeView" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="LoginView" android:theme="@style/Theme.Translucent"></activity>
		
	<activity android:name="DetailsActivity"></activity>
	<activity android:name="CreateNewRowActivity"></activity>
	<activity android:name="WebViewActivity"></activity>
<activity android:name="WalletCatListActivity"></activity>
<activity android:name="WalletSubCatListActivity"></activity>
<activity android:name="LoginsListActivity"></activity>
<activity android:name="CreateLoginTemplateActivity"></activity>
<activity android:name="CreateWalletTemplateActivity"></activity>
<activity android:name="Step1CreateActivity"></activity>
<activity android:name="AllPasswordsActivity"></activity>
<activity android:name="CreateLoginPasswordActivity"></activity>
<activity android:name="AllWalletActivity"></activity>
<activity android:name="AllLoginsActivity"></activity>
<activity android:name="NewPasswordAcivity"></activity>
<activity android:name="AllNotesActivity"></activity>
<activity android:name="Step2CreateActivity"></activity>
<activity android:name="CreateNoteActivity"></activity>
<activity android:name="AutoLockAcivity"></activity>
<activity android:name="SettingsActivity"></activity>
<activity android:name="CreateNoteTitleActivity"></activity>
<activity android:name="CreateWalletField"></activity>
<activity android:name="GenPasswordActivity"></activity>
</application>
	<uses-sdk android:minSdkVersion="3" />


<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest> 