body
{
  background: #cdd2d5 url('background.gif') repeat-x top left;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 100%;
  min-height: 1500px;
  font-family: arial;
  font-size: 14px;
  color: #606060;  
}
.descbg{
	background: url("images/drinkbg.png") no-repeat 0 0;
	padding-left:100px;
	height:168px;
}

#main
{
  width: 960px;
  margin: 0px auto;
  border-left: #8e8e8e 1px solid;
  border-right: #8e8e8e 1px solid;
  background: #fff;
  height: 100%;
  min-height: 1500px;
}

#left
{
  float: left;
  height: 100%;
  min-height: 1500px;
  width: 630px;
}

#right
{
  float: left;
  height: 100%;
  min-height: 1500px;
  width: 329px;
  background: #f1f6f4;
  border-left: #d8ddde 1px solid;
}

div.description
{
}

div.header
{
  margin-bottom: 20px;
}

a, a.visited, a.active
{
  color: #004eff;
  text-decoration: none;  
}

a:hover
{
  text-decoration: underline;  
}

.PhoneImage:hover
{
  cursor: pointer;
}