body {
	background: url("../images/detailbackground.jpg") no-repeat 0 0;
	padding: 0;
	margin: 0;
	background-size: 100% auto;
	background-origin: content;
}

#Home{
	float:left;
} 
.x-masked {
    overflow: hidden !important;
	z-index:9999;
}

#reload_page{
	background: rgba(0,0,0,.3) url("../images/refresh.png") no-repeat 2px 3px;
	background-size: 90% auto;
	width:30px;
	height:30px;
	float:right;
	margin:5px;
	 -webkit-border-radius: 4px;
	 padding:5px 5px 8px 8px;
	 border:1px solid #000;	
}
#wrapper {
	position: absolute;
	z-index: 3;
	width: 320px;
	height: 460px;
	overflow: auto;
	top:306px;
	left:0px;
	border-top:2px solid #738126;
	border-right:2px solid #738126;
}
#inner-wrapper {
	position: absolute;
	z-index: 3;
	width: 320px;
	height: 406px;
	overflow: auto;
	top:54px;
	left:0px;
	
}

/********* SEARCH **********/
.search-input{
	height:25px;
	width:287px;
	margin:10px 10px 14px 10px;
	padding:9px 5px 1px 5px;
	font-size:18px;
	font-family: button;
	background:#fff url("../images/search_icon.png") no-repeat 99% 50%;
}
.search{
	background: url("../images/picker_bg.png") repeat-x 0 0;
	height:54px;
	width:320px;
}
.search-loader{
	background:#fff url("../images/ajax-loader.gif") no-repeat 99% 50% !important;
	background-size: 28px 28px;
	background-origin: content;
	
}
/***** LIST ********/
.ing_list_wrapper{
	display:block;
	float:left;
	width:320px;
	background-color:#e8e4e0;
	padding:0;
	margin:0;
}

.list_item_down{background-color:#ffe5b4 !important;}
.ingredient{
	
}
.start-list{
	border:1px solid #ccc;
	margin:150px 10px;
	list-style: none;
	padding:15px 5px;
	font-size:30px;
	color:#ccc;
	text-align:center;
	font-family: button;
}
.list_item,.ing-item {
	border-bottom: 1px solid #ccc;
	height:52px;
	list-style: none;
	margin: 0;
	font-family: button;
	background-position:5px 0 !important;
}
.list_glass,.ingredient{
	width:210px;
	left:55px;
	display:block; 
	float:left;
	margin:20px 10px 10px 55px;
}
.ingredient{
	margin:20px 10px 10px 25px !important;
	width:260px  !important;
}
.list_fav_selected{
	background:url("../images/list_fav_selected.png") no-repeat 0 0px;
}
.list_fav{
	background:url("../images/list_fav.png") no-repeat 0 0px;
}
.list_fav,.list_fav_selected{
	width:21px;
	height:20px;
	float:right;
	margin:15px 10px 10px 10px;
}
#loadMore{
	border-bottom: 1px solid #ccc;
	padding:15px;
	background-color:#ffe5b4;
	text-align:center;
	font-family: button;
	font-size:16px;
}
.list-item-loading{
	background:#e8e4e0 url("../images/ajax-loader-sm.gif") no-repeat 0 0 !important;
}
/****** GLASSES *******/
.champagne{
	background:url("../images/glasses/champ.png") no-repeat 0 0;
}
.cocktail{
	background:url("../images/glasses/cocktail.png") no-repeat 0 0;
}
.collins{
	background:url("../images/glasses/collins.png") no-repeat 0 0;
}
.cordial{
	background:url("../images/glasses/cordial.png") no-repeat 0 0;
}
.glasstemplate{
	background:url("../images/glasses/glasstemplate.png") no-repeat 0 0;
}
.highball{
	background:url("../images/glasses/highball.png") no-repeat 0 0;
}
.hurricane{
	background:url("../images/glasses/hurricane.png") no-repeat 0 0;
}
.irish-coffee{
	background:url("../images/glasses/irish.png") no-repeat 0 0;
}
.margarita{
	background:url("../images/glasses/margarita.png") no-repeat 0 0;
}
.mug{
	background:url("../images/glasses/mug.png") no-repeat 0 0;
}
.oldfashion{
	background:url("../images/glasses/old_fashion.png") no-repeat 0 0;
}
.parfait{
	background:url("../images/glasses/parfait.png") no-repeat 0 0;
}
.pilsner{
	background:url("../images/glasses/pilsner.png") no-repeat 0 0;
}
.pint{
	background:url("../images/glasses/pint.png") no-repeat 0 0;
}
.pousse-cafe{
	background:url("../images/glasses/pousse_cafe.png") no-repeat 0 0;
}
.punch{
	background:url("../images/glasses/punch.png") no-repeat 0 0;
}
.red-wine{
	background:url("../images/glasses/redwine.png") no-repeat 0 0;
}
.rocks{
	background:url("../images/glasses/rocks.png") no-repeat 0 0;
}
.shot{
	background:url("../images/glasses/shot.png") no-repeat 0 0;
}
.snifter{
	background:url("../images/glasses/snifter.png") no-repeat 0 0;
}
.sour{
	background:url("../images/glasses/sour.png") no-repeat 0 0;
}
.white-wine{
	background:url("../images/glasses/whitewine.png") no-repeat 0 0;
}
/**** LOADING ****/
.x-mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8000;
}
.modal_pos{
	width:105%;
	height:105%;
}
.force-close{
	background: rgba(0,0,0,.3) !important;
	padding: 20px 20px 130px 20px !important;
	height: 170px;
	z-index:99;
}
.loading,.force-close {
  background: rgba(0,0,0,.3) url("../images/loading.gif") center center no-repeat;
  display: block;
  width: 200px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5em;
  margin-top: -5em;  
  font-family: tahoma,arial,verdana,sans-serif;
  font-size:20px;
  -webkit-border-radius: .5em;
  color: #fff;
  text-shadow: #000 0 1px 1px;
  text-align: center;
  padding-top: 150px;
  font-weight: bold;
}

/**** BUTTONS ******/
#preload{
	display:none;
}
#button_block .fullbuttons ul {
	padding: 10px 0 0 30px;
	margin: 0;
}
.favorites_icon{
	float:left;
	background: url("../images/star.png") no-repeat 0 0;
	width:36px;
	height:36px;
	margin:-10px 0 0 10px;
}
.favorities_text{
	float:left;
	margin-left:30px;
}
#button_block .halfbuttons ul {
	padding: 10px 0 0 10px;
	margin: 0;
}

#button_block {
	position: relative;
	background: url("../images/napkins.png") no-repeat 0 0;
	width: 319px;
	height: 313px;
	padding-top: 20px;
}
.touched {
	background: url("../images/button_touch.png") no-repeat 0 0 !important;
}
.fav_touched {
	background: url("../images/fav_button_touch.png") no-repeat 0 0 !important;
}
.sm_touched {
	background: url("../images/sm_button_touch.png") no-repeat 0 0 !important;
}
.sm_button{
	background: url("../images/sm_button.png") no-repeat 0 0;
	padding: 13px 0 0px 0;
	font-size: 16px;
	margin: 0;
	list-style: none;
	text-align: center;
	color: #134926;
	font-family: button;
	width: 110px;
	height:36px;
}
.fav_button{
	background: url("../images/fav_button.png") no-repeat 0 0;
}
.button{
	background: url("../images/button.png") no-repeat 0 0;
}
.button,.fav_button {
	clear:both;
	padding: 10px 0 0px 0;
	font-size: 18px;
	margin: 0;
	list-style: none;
	text-align: center;
	color: #134926;
	font-family: button;
	width: 222px;
	height:36px;
}
.button-chevron{
	background: url("../images/chevron.png") no-repeat center right !important;
	float:right;
	height:20px;
	width:25px;
}
.button-chevron-back{
	background: url("../images/chevron_l.png") no-repeat 0 -2px;
	float:left;
	height:20px;
	width:25px;
	margin-left:15px;
}
.sm-button-chevron-back{
	background-position:0 -3px  !important;
}
.button-cheveron-back-text,.button-cheveron-back-text{
	float:right;
	margin-right:90px;
}
.sm-button-cheveron-back-text{
	margin-right:35px;
}
.button-cheveron-text{
	float:left;
	margin-left:40px;
}
.face{
	font-family:button;
	font-size:16px;
	color:#773b20;
}
@font-face {
	font-family: button;
	src: url('TektonPro-Bold.otf');
}


/****FLIP STYLE****/
.flip-front{/*-webkit-transform: translateZ(0px) rotateY(-180deg);*/}
.flip-back{-webkit-transform: translateZ(-1px) rotateY(180deg);}

#paper_wrapper {
	-webkit-perspective: 2000;
	position: absolute;

}
 .paper .back {
  -webkit-transform: translateZ(-1px) rotateY(180deg);
}

.paper .front{
    -webkit-transform: translateZ(0px) rotateX(0deg);
}

.paper{
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all .8s ease-in-out;
}
.paper .face{
	position: absolute;
	-webkit-box-sizing: border-box;

}
.paper {
	position: absolute;

}

.hidden{display:none;}
/*** NAV ***/
.subbuttons{
	display:none;
}

/** DRINK TEXT **/

#drink-photo{
	float:left;
}



/** EDIT ***/
.edit-add-ingredient{
	padding:0;
	margin:0;
	list-style:none;
}

.add-new-ing{
	background:#efefef url("../images/chevron.png") no-repeat center right !important;
}

.ing-back{
	background:#efefef url("../images/chevron_l.png") no-repeat 5% 50% !important;
	border:1px solid #ccc;
	text-align:right;
	 -webkit-border-radius: 4px;
	padding:7px 15px  4px  8px;
	 margin-bottom:4px;
	list-style:none;
}
.edit-ing{
	background:#fff url("../images/delete.png") no-repeat center right;
	border:1px solid #ccc;
	 -webkit-border-radius: 4px;
	padding:7px 5px  4px  8px;
	 margin-bottom:4px;
	list-style:none;

}
.ingTouch{
	background-color:#ffd854 !important;
}
.ing{
	padding:2px 0px  2px  0px;
	 margin-bottom:3px;
	list-style:none;
}
.ing-wrapper ,.edit-ing-wrapper {
	position: relative;
	width:243px;
	height: 190px;
	overflow: auto;
	padding:0;

}
.drink-desc{
	position: absolute;
	width:100%;
	height: 305px;
	overflow: auto;
	padding:0;
}
#scroll-desc{height:150% !important;}
.ing-items-wrapper{padding:0;margin:0;}
.edit-drink-desc{
	font-size:18px;
}
.drink-desc .scroll-child{
	font-size:18px;
}

/************ RATINGS *************/
.star_delete{
	width:34px;
	height:31px;
	float:left;
	list-style:none;
	margin-left:3px;
	background: url("../images/star_delete.png") no-repeat 0 0;
}
.submit_rate_on{
	background:#ccc !important;
}
.submit_rate{
	position:absolute;
	color: #134926;
	font-family: button;
	padding:8px 10px 2px 10px;
	background:#fff;
	list-style:none;
	margin-left:10px;
	margin-top:2px;
	width:48px;
	text-align:center;
	border:1px solid #ccc;
	-webkit-border-radius: 4px;
}
.star{
	width:34px;
	height:31px;
	float:left;
	list-style:none;
	margin-left:4px;
}
.ratings{
	margin:0;
	padding:0;
	position:absolute;
	width:300px;
}
#rate_1{
	background: url("../images/star_off.png") no-repeat 0 0;
}
#rate_2{
	background: url("../images/star_off.png") no-repeat 0 0;
}
#rate_3{
	background: url("../images/star_off.png") no-repeat 0 0;
}
#rate_4{
	background: url("../images/star_off.png") no-repeat 0 0;
}
#rate_5{
	background: url("../images/star_off.png") no-repeat 0 0;
}

.star_on{
	background: url("../images/star_on.png") no-repeat 0 0 !important;
}
.star_half_on{
	background: url("../images/star_half_on.png") no-repeat 0 0 !important;
}
