.port .paper .front{
	background: url("../images/paper.png") no-repeat 0 0;
}
.port .paper .back{
	background: url("../images/editpaper.png") no-repeat 0 0;
}
.port #paper_wrapper{
	top:100px;
	left:440px;
}
.port .paper .front,.port .paper .back{
	width:600px;
	height:830px;
	left: -300px;
}

.port #postcards{
	background: none;
}

.port #nav_post{
	background:url("../images/post.png") no-repeat 0 0;
	width:120px;
	height:1024px;
	position: absolute;
	top:0;
	left:10px;
	z-index: -1;
	
}
.port #list_wrapper{
	display:block;
	width:320px;
	background-color:#fff;
	padding:0;
	margin:0;
}
.search_touch{
	background:url(../images/search_touch.png) no-repeat 0 0 !important;
}
#search{
	background:url(../images/search.png) no-repeat 0 0;
	width:78px;
	height:88px;
	margin:0px 0 20px 12px;
}
.list_touch{
	background:url(../images/list_touch.png) no-repeat 0 0 !important;
}
#list{
	background:url(../images/list.png) no-repeat 0 0;
	width:63px;
	height:83px;
	margin:30px 0 20px 12px;
}
.port #button_block{
	position:absolute;
	display:none;
	top:90px;
    left:100px;
    background-color: transparent;
    border:0;
    -webkit-box-shadow:none;
}
.port .popout{
	z-index:3;
	background-color: #fff;
	-webkit-box-shadow:#999 4px 4px 24px;
}
.port #wrapper {
	display:none;
    position:absolute;
    width:320px;
    height:600px;
    overflow:auto;
    top:40px;
    left:100px;
	border:2px solid #000;
   
}
.port #inner-wrapper {
    position:absolute;
    width:320px;
    height:546px;
    overflow:auto;
    top:54px;
    left:0px;
   
}
.port .ui-cornor-all{-webkit-border-radius:6px;}

.port .content_wrapper{
	width:100%;
	height:100%;
	display:block;
	margin-top:-55px;
}

/* drink info text*/
.port #quote{
	margin-top:125px;
	margin-left:80px;
	width:320px;
	font-size:14px;
}
.port .frontbutton{
	background: url("../images/edit_button.png") no-repeat 0 0;
	width:81px;
	height:45px;
	float:left;
}

.port .backbutton{
	background: url("../images/save_button.png") no-repeat 0 0;
	width:81px;
	height:45px;
	float:right;
}
.port .cancelbutton{
	background: url("../images/cancel_button.png") no-repeat 0 0;
	width:81px;
	height:45px;
	margin-right:10px;
	float:right;
}

.port .list_email{
	background:url(../images/email.png) no-repeat 0 0px;
	width:71px;
	height:43px;
	float:right;
}
.port .page_content_wrapper{
	padding:50px 40px 50px 70px;	
}
.port .text-float-right{
	height:266px;
	margin:-20px 0;
	margin-bottom:5px;
	float:left;
}
.port #drink-photo,.port #edit-drink-photo{
	background: url("../images/photo.png") no-repeat 0 0;
	width:227px;
	height:226px;
	margin:-20px 20px 20px 0px;
	float:left;
}
.port .drink-title{
	font-size:28px;
	width:225px;
	word-wrap: break-word;
}

.port .paper-button-block{
	position:absolute;
	top:630px;
	width:500px;
}

/** EDIT VIEW **/
.port .edit-ing-wrapper{
	height: 176px !important;
}
.port #edit-drink-photo{
	margin-left:-5px;
}
.port .edit-drink-title{
	font-size:16px;
	width:225px;
}
.port .edit-drink-desc{
	width:480px;
	height:400px;
}
.port .edit-paper-button-block .backbutton{
	padding-right:35px;
}
.port .edit-paper-button-block{
	top:720px;
	
}
.port .edit-page_content_wrapper{
	padding:50px 40px 50px 40px; !important;
}
