<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>begging</string>
	<string>boiling</string>
	<string>chewing gum</string>
	<string>cleaning</string>
	<string>cooking</string>
	<string>crying</string>
	<string>driving</string>
	<string>drinking</string>
	<string>drinking wine</string>
	<string>drinking beer</string>
	<string>booz&apos;n</string>
	<string>dusting</string>
	<string>eating</string>
	<string>fighting</string>
	<string>getting ready</string>
	<string>going to bed</string>
	<string>jogging</string>
	<string>kissing</string>
	<string>leaving</string>
	<string>partying</string>
	<string>playing Xbox</string>
	<string>playing wii</string>
	<string>playing playstation</string>
	<string>plucking</string>
	<string>pooping</string>
	<string>running</string>
	<string>shopping</string>
	<string>sleeping</string>
	<string>talking</string>
	<string>thinking</string>
	<string>tweeting</string>
	<string>walking</string>
	<string>watching TV</string>
	<string>whispering</string>
	<string>working</string>
	<string>working out</string>
</array>
</plist>
